@page "/record"
@using Habitual.Client
@inject HabitsModel Model

<h1>Record a Habit</h1>

<select @onchange="ItemSelected" size="5">
@foreach (var concept in Model.HabitConcepts){
    <option value="@concept.Id">@concept.Name</option>
}
</select>

@if(selectedHabit != null) {
    <div>
        Selected Habit: @selectedHabit.Name
    </div>
    <div>
        <EditForm Model="@newInstance" OnValidSubmit="@(() => OnAddInstance(newInstance))">
            <DataAnnotationsValidator />
            <ValidationSummary />
            <input value="@newInstance.When"/>
            <button type="submit">Record</button>
        </EditForm>
    </div>
    <div>
        @foreach (var instance in selectedInstances) {
            @instance.When.ToString() <br/>
        }
    </div>
}

@code {
    private HabitConcept selectedHabit;

    private HabitInstance newInstance = new HabitInstance {When=DateTime.Now};

    private List<HabitInstance> selectedInstances = new List<HabitInstance>();

    private void ItemSelected(ChangeEventArgs eventArgs) {
        selectedHabit = Model.HabitConcepts.Where(concept => concept.Id.ToString() == eventArgs.Value.ToString()).First();
        newInstance.HabitId = selectedHabit.Id;
        LoadSelectedInstances();
    }

    private void OnAddInstance(HabitInstance instance) {
        Model.AddInstance(instance);
        newInstance = new HabitInstance {When=DateTime.Now, HabitId = selectedHabit.Id};
        LoadSelectedInstances();
    }

    private void LoadSelectedInstances(){
            selectedInstances = Model.HabitInstances.Where(instance => instance.HabitId == selectedHabit.Id).ToList();
    }
}