@page "/record"
@using Habitual.Client
@inject HabitsModel Model

<h1>Record a Habit</h1>

<select @onchange="ItemSelected" size="5">
@foreach (var concept in Model.HabitConcepts){
    <option value="@concept.Id">@concept.Name</option>
}
</select>

@if(Model.SelectedConcept != null) {
    <div>
        <EditForm Model="@newInstance" OnValidSubmit="@(() => OnAddInstance(newInstance))">
            <DataAnnotationsValidator />
            <ValidationSummary />
            <input value="@newInstance.When"/>
            <button type="submit">Record</button>
        </EditForm>
    </div>
}
<br/>
<InstanceSummary LocalModel="@Model" />

@code {
    private HabitInstance newInstance = new HabitInstance {When=DateTime.Now};

    private void ItemSelected(ChangeEventArgs eventArgs) {
        Model.SelectedConcept = Model.HabitConcepts.Where(concept => concept.Id.ToString() == eventArgs.Value.ToString()).First();
        newInstance.HabitId = Model.SelectedConcept.Id;
    }

    private void OnAddInstance(HabitInstance instance) {
        Model.AddInstance(instance);
        newInstance = new HabitInstance {When=DateTime.Now, HabitId = Model.SelectedConcept.Id};
    }
}